<h1><%= @article.title %></h1>

<div class="container">

  <p class="article_body"><%= @article.body %>

    <div class="article_btn_group">
      <%= link_to "Edit", edit_article_path(@article), class: "edit_btn" %>
      <%= link_to "Delete", article_path(@article), method: :delete, class: "delete_btn", data: {confirm: "Really delete the article?"} %>
    </div>

  </p>


  <div class="comments_wrapper">
    <h3>Comments</h3>
    <%= render partial: 'articles/comment', collection: @article.comments %>

    <%= link_to "<< Back to Articles List", articles_path, class: 'home_link' %>
  </div>

</div>
