<div class="container">
  <h1><%= @article.title %></h1>
  <p class="article_tag_list">
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "tag" %>
    <% end %>
  </p>

  <% if @article.image.exists? %>
    <p class="img"><%= image_tag @article.image.url %></p>
  <% end %>

  <p class="article_body"><%= @article.body %></p>
  <% if logged_in? %>
    <div class="article_btn_group">
      <%= link_to "Edit", edit_article_path(@article), class: "edit_btn" %>
      <%= link_to "Delete", article_path(@article), method: :delete, class: "delete_btn", data: {confirm: "Really delete the article?"} %>
    </div>
  <% end %>
  <div class="comments_wrapper">

    <%= render partial: 'comments/form' %>

    <h3>Comments(<%= @article.comments.count %>)</h3>
    <%= render partial: 'articles/comment', collection: @article.comments %>

    <%= link_to "<< Back to Articles List", articles_path, class: 'home_link' %>
  </div>
</div>
