<!DOCTYPE html>
<html>
<head>
  <title>blog <%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <h6>
    <div class="nav_home"><a href="/">Home</a></div>
    <div class="nav_button month_btn"><%= link_to "Posts by month", by_month_path %></div>
    <div class="nav_button tags_btn"><%= link_to "Posts by tag", tags_path %></div>
    <% if logged_in? %>
      <%= link_to "Create new post", new_article_path, class: 'nav_button new_article_link' %>
      <div class="nav_button logout"><%= link_to "logout", logout_path %></div>
      <div class="user"><%= "Logged in as #{current_user.username}" %></div>
    <% else %>
      <div class="nav_button login"><%= link_to "login", login_path %></div>
    <% end %>
  </h6>
</nav>

<% if flash[:notice] -%>
  <p class="flash"><%= flash.notice %></p>
<% end %>

<%= yield %>

</body>
</html>
